<!-- <h1 *ngIf="member">{{member.userName}}</h1> -->
<div class="row" NgIF="member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" NgIF="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img [src]="member?.photos?.[0]?.url || './assets/user.png'" alt="{{member?.knownAs}}" 
            class="card-img-top img-thumbnail">
        <div class="card-body">
            <div>
                <strong>Location:</strong>
                <p>{{member?.city}}, {{member?.country}}</p>
            </div>
            <div>
                <strong>Age:</strong>
                <p>{{member?.age}}</p>
            </div>
            <div>
                <strong>Last Active:</strong>
                <p>{{member?.lastActive}}</p>
            </div>
            <div>
                <strong>Member Since:</strong>
                <p>{{member?.created}}</p>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" [disabled]="!editForm.dirty" form="editForm" class="btn btn-success col-12">Save changes</button>
        </div>
        </div>
    </div>
<!-- Adding the tabsets for adding tabs in the pages -->
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member?.knownAs}}">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="UpdateMember()">
                    <h4 class="mt-2">Description</h4>
                    <textarea class="form-control"  
                        [ngModel]="member?.introduction"
                        name="introduction"
                        rows="6"
                    ></textarea>
                    <h4 class="mt-2">Looking For</h4>
                    <textarea class="form-control"  
                        [ngModel]="member?.lookingFor"
                        name="lookingfor"
                        rows="6"
                    ></textarea>
                    <h4 class="mt-2">Interests</h4>
                    <textarea class="form-control"  
                        [ngModel]="member?.interests"
                        name="interests"
                        rows="6"
                    ></textarea>
                    <h4 class="mt-2">Location Details: </h4>
                    <div class="d-flex flex-row aligin-items-center">
                        <Label for="city">City: </Label>
                        <input type="text" [ngModel]="member?.city" name="city" class="form-control mx-2">
                        <Label for="country">Country: </Label>
                        <input type="text" [ngModel]="member?.country" name="Country" class="form-control mx-2">
                    </div>
                </form>
            </tab>
            <tab heading="Edit Photos">
                <p>Photo esit will goes here</p>
            </tab>
        </tabset>
    </div>
</div>


